
*{
    margin: 0px;
    padding: 0px;
}
/***********************nav bar*****************************/
.navbar{
    height: 100px;
     width: 70%;
    margin: auto;
    margin-top: 5px;
    padding: 5px 10px;
   
}
.navbar a{ 
    text-decoration: none;
    padding-right:10px;
    font-size:18px;
    color: grey;  
}
.navbar li{
    display: inline-block; 
    padding-top:30px;
}

.logo{
    height: 50px;
}
/****************************back-img*****************************/

.head{
    background-image: linear-gradient(rgba(226, 240, 250, 0.37),rgba(59, 48, 48, 0.021)),url(./pexels-photo-1308624.jpeg);
    background-position: center;
    background-size: cover;
    height: 60vh;
}

