
*{
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
}

body{
    font-family: montserrat;

}

.row{
    width: 70%;
    margin: 0 auto;
}

.mt-30{
    margin-top: 30px;
}
/***********************nav bar*****************************/
.navbar{
    height: 80px;
    width: 70%;
    margin: auto;
    padding: 5px 10px;
   
}
.navbar a{ 
    text-decoration: none;
    padding-right:8px;
    font-size:16px;
    color: grey;  
    letter-spacing: 0px;
}
.navbar li{
    display: inline-block; 
    /* padding-top:30px; */
}

.logo{
    height: 40px;
    
}
.hehe:hover{
    color: #34B69F;
}
.unorder{
    margin:auto 0;

}
/****************************back-img*****************************/

.head{
    background-image: linear-gradient(rgba(0, 0, 0, 0.37),rgba(0, 0, 0, 0.021)),url(../image/head_background.jpeg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    position: relative;
}

.header-box{
    text-transform: uppercase;
    color: #eee;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-7%, -49%);
    padding: 74px 0px;
}

.primary-heading{
    font-size:35px;
} 

.and-txt{
    text-transform: lowercase;
}
.heading{
    font-weight:400;
    letter-spacing:3px;
}
.btn{
    border-radius: 5px; 
    margin-top: 15px;
    transition: all 0.3s;
}

.btn:hover{
background-color: #34B69F;
transform: translateY(-3px);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.btn:active{
    transform: translateY(-1px);
}
    

.btn a{
    color:#eee;
    text-decoration: none;
    font-size: 14px;
}
/********************structuers***************************/



.sol_head{
    text-align: center;
    margin-top: 50px;
    
    
}
.sol_head h1{
    font-weight: 500;
}
.row h1{
    font-weight: 100;
    font-size:18px;
}
.fitting{
    margin-top:-10px;
}

.take-to-center{
    text-align: center;
    
}
.take-to-center h1{
    font-weight: 300;
}
/******************download catalog****************/
.catalog{
    width:100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.781),rgba(0, 0, 0, 0.568)), url(../image/76-762881_library-books-shelf-background-black-and-white-books.jpg);
    background-position: center;
    background-size: cover;
    height: 58vh;
    margin-top:60px;
   
}

 .pdf{
    text-align: center;
    padding:75px;
    
     }

.box-1{
    font-weight: 400;
    font-size: 30px;
}

.box-2{
    font-weight: 100;
    font-size: 17px;
}

.tag{
    color: #eee;
}
/***************contact-form********************************/

.parent{
    height: 70vh;
}
.contact_form{
    width:40%;
    height: 60vh;
    float: left;
}
.ad{
    width:60%;
    background-color: rgb(218, 209, 172);
    height: 70vh;
    float: right;
    background-image:linear-gradient(rgba(8, 8, 8, 0.603),rgba(0, 0, 0, 0.658)), url(../image/building.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 23% 100%);
    background-position: center;
    background-size: cover;
    

}

.line{
    color:#eee;
    letter-spacing:1px;
    font-weight: 100;
    float: right;

}

.tag1{
font-size:30px;
padding-right:300px;
padding-top: 100px;
font-weight: 400;

}
.tag2{
font-size: 22px;
padding-right: 342px;
}

.contact_head{
  margin-left: 90px;
  font-size: 30px;
  letter-spacing:1px;
}
.contact_subhead{
    font-size: 16px;
    margin-left: 90px;
    margin-top:0px;
    letter-spacing:1px;
    font-weight: 300;
}


.text{
    font-size: 20px;
    width: 100%;
}

.type{
    width: 100%;
    font-size: 20px;
}

#submit{
    color: black;
}


.type input{
    width: 100%;
}


.message_type textarea{
    width: 100%;
}
/*************Fotter*****************************************/
.footer{
    background-color:#092550;
    margin-top: 0px;
    height: 180px;
    color: #eee;
}

.footer_head{
    font-weight:500 !important; 
}
.footer_subhead{
    font-size:14px;
    font-weight: 200;
}

.copyright{
    
    width:100%;
} 

.last .copy_text{
    margin: 0px;
    font-size:15px;
    color: #eee;
    padding:16px;
}
.last{
    height: 7vh;
    background-color:#2A3C91;
    text-align: center;
}
